@model TestRazor.ViewModel.Clientes

@{
    ViewBag.Title = "Alta";
}

<h2>Ingresa tus datos</h2>
<br />
@*<form action=@Url.Action("Guardar","Home") method="POST">
        Nombre: <input type="text" name="Nombre" /><br /><br />
        Apellido: <input type="text" name="Apellido" /><br /><br/>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>*@

@using (Html.BeginForm("Guardar", "Cliente"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" />
}