
@using TestRazor.Models
@Model Cliente 



@{
    ViewBag.Title = "Principal";
}

<h2>Para completar el formulario de cliente <a href="../Home/Formulario">click aqui</a> </h2>

<h2>Para completar el formulario de producto <a href="../Home/FormularioProducto">click aqui</a> </h2>

